<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">Enzigma Premier Leauge</p>
    </div>
</div>
<div class="cardData">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{playerArr.name}}</mat-card-title>
            <mat-card-subtitle>{{playerArr.playerType}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{playerArr.playerImages}}" alt="Photo of a Player">
        <mat-card-actions>
            <button mat-button class="btn btn-danger">Sell</button>
            <button mat-button class="btn btn-success" hidden>Sold</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngFor="let item of teamArr" style="color: rgb(48, 3, 245);">
    {{item.name}}
    <div *ngFor="let item1 of item.players" style="color: rgb(31, 245, 3);">
        {{item1}}
    </div>
</div>
<span class="blockData">Upcomming Players >></span>
<div *ngFor="let item2 of playerArrAll" class="d-inline-flex">
    <div *ngIf="!item2.status" class="blockData">
        {{item2.name}}
    </div>
</div>